<ion-content class="card-background-page">

    <ion-col col-6>
        <button ion-button  large  block color="secondary"  (click)="abrirImput()">Digite seu Telefone        </button>
    </ion-col>
    <ion-item *ngIf="show">
        <ion-label floating text-center >DDD + Telefone</ion-label>
        <ion-input type="text"  [(ngModel)]="data.cpf" name="cpf" (ionChange)="validarTelefone($event)" max-length="11" ></ion-input>
      </ion-item>
      <ion-item *ngIf="show2">
          <button ion-button large block (click)="acessar(data.cpf)">Enviar</button>
      </ion-item >
     <ion-col col-6 *ngIf="!show">
        <button ion-button  large  block (click)="cadastre()">Não tenho cadastro</button>
   </ion-col>
      <img class="displayed" src="../../assets/imgs/mapa.png"/>
      <img class="displayed" src="../../assets/imgs/logo-site.png"/>


 <!-- <div class="card" >
		<div class="card-title ">
			<ion-item>
				<ion-label stacked>Numero CPF</ion-label>
				<ion-input type="number" [(ngModel)]="data.cpf" name="cpf" placeholder="Entre com seu Numero de CPF"></ion-input>
			</ion-item>
				<ion-col col-6>
					<button ion-button block large id="sign-in-button" (click)="acessar(data.cpf)">Acessar</button>
				</ion-col>
				<ion-col col-6>
					<button ion-button block large color="danger" (click)="cancelar()">Cancelar</button>
				</ion-col>
		</div>
		<div class="card-subtitle">
			<button ion-button block large color="ligth" (click)="esqueceuSenha()">Esqueceu a senha!</button>
		</div>
	</div> -->
</ion-content>
