<ion-header>

  <ion-navbar color="primary">
      <ion-title>Cadastro</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding style="background-color: transparent !important;">
 
  <ion-fab center bottom *ngIf="hide">
    <button ion-fab color="light" (click)="takePhoto()"><ion-icon name="camera"></ion-icon></button>
  </ion-fab>
</ion-content>