<ion-header>

    <ion-navbar color="primary">
      <ion-title>Canhoto Nota Fiscal</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    <ion-row>
      <ion-col col-12 class="dicas" text-center>
        <h2>Para concluir o frete tire uma foto do canhoto da nota !</h2>
      </ion-col>
    </ion-row>
    <hr />
    <ion-row class="conteudo">
      <ion-col col-12 text-center>
        <h1>Selfie</h1>
        <p class="dicas">Faça uma Foto do canhoto!</p>
      </ion-col>
    </ion-row>   
    <ion-row >
      <button ion-button round  full (click)="takePhoto()" > Tirar Foto </button>
    </ion-row>
   
   
  
  </ion-content>