<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Serviços</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
        <ion-searchbar     (ionInput)="getItems($event, 'coleta' )" placeholder="Coleta UF "></ion-searchbar>
        <ion-searchbar  (ionInput)="getItems($event, 'entrega' )" placeholder="Entrega UF "></ion-searchbar>
    </ion-card-content>
  </ion-card>
 
  <ion-card *ngFor="let item of items">
    <ion-card-content>

      <ion-row no-padding>
        <ion-card-title >
          <ion-col col-7 text-rigth>
            <b>Coleta: </b> {{ item.coleta.cidade_cliente }} / {{ item.coleta.uf_cliente }}
          </ion-col>
        </ion-card-title>
      </ion-row>
      <ion-row no-padding>
        <ion-card-title >
          <ion-col col-7 text-rigth>
            <b>Entrega:</b> {{ item.entrega.cidade_cliente }} / {{ item.entrega.uf_cliente }}
          </ion-col>
        </ion-card-title>
      </ion-row>
      <hr />
      <ion-row no-padding>
        <ion-col col-7 text-rigth>
          <b class='resaltar'>R$ Frete:</b>{{item.coleta.frete_motorista }}
        </ion-col>
      </ion-row>
      <hr />



    </ion-card-content>
    <ion-row no-padding>
      <ion-col col-12 item-end>
        <button ion-button round full small color="primary" (click)="aceitar(item)">
          Aceitar
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>