<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col width-50>
        <button ion-button block color="primary">Sua Coleta</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block color="primary">Sua Entrega</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
        <button ion-button block color="secondary">Rotas</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block color="secondary">Seu Cadastro</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
        <button ion-button block color="danger">Canhotos</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block color="danger">Espaço no Veiculo</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
        <button ion-button block color="light">Rede Parceira</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block color="light">Suporte</button>
      </ion-col>
    </ion-row>

      <img class="displayed" src="../../assets/imgs/mapa.png"/>
          <img class="displayed" src="../../assets/imgs/logo-site.png"/>



  </ion-grid>


</ion-content>
