<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
    </button>
    <ion-title>Lista Romaneios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list inset>
    <ion-item *ngFor="let item of getRomaneios;" (click)="selecionar(item)">
      <ion-card>
        <ion-card-header>
          <b>Coleta</b>
          <h5>{{item.coleta.cidade_cliente}}</h5>
        </ion-card-header>
        <ion-card-header>
          <b>Entrega</b>
          <h5>{{item.entrega.cidade_cliente}}</h5>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>