<ion-header>

  </ion-header>


  <ion-content padding>
    <h4>DIGITE seu CPF e clique em PROXIMO!</h4>
    <hr />
      <ion-item>
        <ion-label floating>Digite seu CPF</ion-label>
        <ion-input [(ngModel)]="cpf" type="number" (ionChange)="validarCPF($event)"></ion-input>
      </ion-item>
      <div *ngIf="show">
          <button ion-button round block color="primary" (click)="adicionar(cpf)"> Proximo </button>
      </div>
  </ion-content>
