<!--
  Generated template for the ContratoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Contrato</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <h4>PREZADO CONDUTOR LEIA COM ATENÇÃO:</h4> 
   <h6> ** Concordando com as informações abaixo, automaticamente seu app Uppertruck deverá permanecer no modo “Segundo Plano” até o fim da operação. A não observância poderá acarretar em bloqueio de pagamentos ou cancelamento de bônus**</h6>
    
    
    
   <p><b>A) Percurso:</b></p>
    
   <p><b> - Coleta:</b></p>
   <p><b>Cidade: </b> {{this.dadosRomaneio.coleta.cidade_cliente}} / {{this.dadosRomaneio.coleta.uf_cliente}}</p>
   <p><b>Data: </b>{{this.dadosRomaneio.coleta.data}}</p>    
   <hr>
   <p><b> - Entrega:</b></p>
   <p><b>Cidade: </b> {{this.dadosRomaneio.entrega.cidade_cliente}} /  {{this.dadosRomaneio.entrega.uf_cliente}}</p>
   <p><b>Data: </b>{{this.dadosRomaneio.entrega.data}}</p>    
   <hr>
    
   <p><b> B) Embarque e Desembarque:</b></p>
   <p>  - Tempo estimado de carga/descarga: 2h</p>
   <p> - Não há custos com o serviço </p> 
    
   <p><b> C) Itens Obrigatórios:</b></p>
   <p>  - Calça, Camisa/camiseta, Calçado fechado </p>
   <p>  - Cintas/Cordas/Catracas para aperto da carga /p> 

   <p><b> C) Itens Obrigatórios:</b></p>
   <p> - Calça, Camisa/camiseta, Calçado fechado </p>
   <p>  - Cintas/Cordas/Catracas para aperto da carga</p> 


   <p><b>  D) Documentação:</b></p>
   <p>  - CNH, Documentos do veículo, ANTT</p>
   
   <p><b>  F) Material transportado:</b></p>
   <p><b>Produto: </b>{{this.dadosRomaneio.coleta.data}}</p>   
   <p><b>Qtd/Vol: </b>{{this.dadosRomaneio.coleta.qtde}}</p>   
   <p><b>Descricao: </b>{{this.dadosRomaneio.coleta.descricao}}</p>   
   <p><b>Medida unitária: </b>{{this.dadosRomaneio.coleta.medida}}</p>   
   <p><b>Peso Total: </b>{{this.dadosRomaneio.coleta.peso}}</p>   
   
   <p><b>  G) Pagamento da Prestação de serviço:</b></p>
   <p> - Conta corrente/ poupança indicada pelo *proprietário* e com apontamento do CIOT da ANTT.</p>  
   <p><b>Valor Total: </b>{{this.dadosRomaneio.coleta.frete_motorista}}</p>   
   <p><b>Adiantamento: </b>100%</p>   
   <p><b>Saldo: </b>0% na entrega</p>   
   <p><b>Envio de canhoto via app </b></p>   
 
   <p><b>   O) Orientações Finais:</b></p>
   <p> - Conduzir seu veículo com responsabilidade</p>  
   <p> - Comunicar previamente alteração de rota.</p>  
   <p> - Parar somente em locais seguros .</p>  
   <p> - Pagamento total do transporte condicionado à entrega do material em sua totalidade mediante nota fiscal.</p> 

    <ion-row class="button">
    <button ion-button round  full  color="danger" (click)="recusar()" > Recusar </button>
    <button ion-button round  full (click)="confirmacao()" > Aceitar </button>
  </ion-row>


</ion-content>
