<ion-content class="card-background-page">

  <ion-col col-6>
    <button ion-button large color="secondary" block >Ainda tenho cadastro! </button>
  </ion-col>
  <h6 style="margin-left: 10%; margin-right: 10%"><small>OS PASSOS A SEGUIR FACILITARÃO SEU CADASTRO COMO</small>TRANSPORTADOR UPPERTRUCK</h6>
  <h6 style="margin-left: 10%; margin-right: 10%"> <b>*</b> <small>PROCURE UM LOCAL COM BOA ILUMINAÇÃO </small> </h6>
  <h6 style="margin-left: 10%; margin-right: 10%"> <b>*</b> <small>LIMPE AS LENTES DA CÂMERA <br/>&nbsp; &nbsp; &nbsp; &nbsp;  DE SEU SMARTPHONE</small> </h6>
  <h6 style="margin-left: 10%; margin-right: 10%"> <b>*</b> <small>ENQUADRE AS FOTOS CORRETAMENTE </small></h6>
  <h6 style="margin-left: 10%; margin-right: 10%"> <b>*</b> <small>UTILIZE O APARELHO NA POSIÇÃO VERTICAL </small></h6>


        <div style="margin-top:10%; margin-left: 15%;width:70%; ">
          <img src="../../assets/imgs/mapa.png" />
        </div>
        <div style="margin-top:10%; margin-left:35%;width:30%; ">
          <img src="../../assets/imgs/logo-site.png" />
        </div>

        <ion-col col-6>
          <button ion-button large block color="secondary" (click)="proximo()">Proximo! </button>
        </ion-col>
        <!-- <div class="card" >
  <div class="card-title ">
    <ion-item>
      <ion-label stacked>Numero CPF</ion-label>
      <ion-input type="number" [(ngModel)]="data.cpf" name="cpf" placeholder="Entre com seu Numero de CPF"></ion-input>
    </ion-item>
      <ion-col col-6>
        <button ion-button block large id="sign-in-button" (click)="acessar(data.cpf)">Acessar</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block large color="danger" (click)="cancelar()">Cancelar</button>
      </ion-col>
  </div>
  <div class="card-subtitle">
    <button ion-button block large color="ligth" (click)="esqueceuSenha()">Esqueceu a senha!</button>
  </div>
</div> -->
</ion-content>
