<ion-content padding>
    <br><br>  <br><br>


  <button ion-button large block (click)="selfie()" color="secondary">Faça uma selfie! </button>
  <br><br>  <br><br>

  <button ion-button large block (click)="cnh()" color="secondary">Tira foto da sua CNH!! </button>
  <br><br>  <br><br>


  <button ion-button large block (click)="crlv()" color="secondary">Tire foto do CRLV! </button>
  <br><br>  <br><br>


  <button ion-button large block (click)="fotoVeiculo()" color="secondary">Tire foto do Veiculo! </button>
</ion-content>
