<ion-header>

  <ion-navbar color="primary">
    <ion-title>Coletas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <button ion-button icon-left full text-center (click)="chegadaDestino()"> Clique quando chegar no destino!</button>
  </div>
  <div id="map"></div>
  <ion-item>
    <ion-icon name="home" item-left large></ion-icon>
    <h2>{{ this.dados.coleta.razao_social_cliente }}</h2>
    <p>{{ this.dados.coleta.endereco_cliente }}</p>
  </ion-item>

  <ion-item>
    <ion-icon name="information-circle" item-left large></ion-icon>
    <h2> Tel- Cliente: {{ this.dados.coleta.telefone_cliente }}</h2>
    <p class="resaltar"> R$ Frete: {{ this.dados.coleta.frete_motorista  }}</p>
  </ion-item>

  <ion-item>
    <span item-left>{{ distancia }}</span>
    <span item-left>{{ tempo }}</span>
    <button ion-button icon-left clear item-end (click)="iniciarRotas()">
      <ion-icon name="navigate"></ion-icon>
      Start
    </button>
  </ion-item>

</ion-content>