<ion-header>

  <ion-navbar color="primary">
    <ion-title>CNH</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 class="dicas" text-center>
        <h2>Scaneando seus documentos !</h2>
      </ion-col>
    </ion-row>
    <hr />
    <ion-row class="conteudo">
      <ion-col col-12 text-center >
        <h1>CNH</h1>
        <p class="dicas">Faça uma foto da sua CNH!</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row class="button">
    <button ion-button round  full (click)="takePhoto()" > Tirar Foto </button>
  </ion-row>
<!--   <ion-img width="280" height="280" src="assets/imgs/CNH.png" ></ion-img>
 -->
</ion-content>